.ui-heading
	display flex
	justify-content space-between
	align-items flex-start
	gap 1rem

.main-content
	display flex
	flex-direction column

.title-line
	display flex
	align-items center
	gap 0.5rem

.title
	margin 0
	line-height 1.3
	color $text-color-primary

.subtitle
	margin 0.25rem 0 0
	font-weight 400
	color $text-color-secondary

.meta-line
	margin-top 0.5rem
	display flex
	align-items center
	gap 0.5rem
	font-size 0.8125rem
	color $text-color-muted

.actions
	margin-top 2px

.size-h1
	.title
		font-size 18px
		font-weight 600

	.subtitle
		font-size 12px

.size-h2
	.title
		font-size 16px
		font-weight 600

	.subtitle
		font-size 13px

.size-h3
	.title
		font-size 14px
		font-weight 500

.size-h4
	.title
		font-size 13px
		font-weight 500