.sub-sidebar
	width 0
	background-color #f8fbff
	transition width 0.3s ease
	overflow hidden
	border-right 1px solid #dfe6f0

.sub-sidebar.open
	width 230px

.sub-sidebar-header
	display flex
	align-items center
	height 71px
	border-bottom 1px solid #dfe6f0
	padding-left 28px

.sub-sidebar-title
	color #1e2339
	font-size 14px
	font-weight 500
	margin 0

.sub-sidebar-content
	padding 33px 30px 20px 33px
	height 100%
	overflow-y auto