.ui-card
	background-color $neutral-0 // Branco
	border 1px solid $border-color-primary
	border-radius 8px
	padding 1.5rem // 24px
	// Sombra sutil para dar profundidade
	box-shadow 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -2px rgba(0, 0, 0, 0.05)