.code-box
	padding 1rem 1.25rem
	display flex
	flex-direction column
	gap 5px
	color #334155
	position relative

	&__header
		font-weight 500
		font-size 12px
		color #1E2339

	&__content
		display flex
		flex-direction column
		background #FBFDFF
		border 1px solid #D8E3EF
		border-radius 6px
		padding 0.75rem
		position relative
		font-family monospace
		font-weight 400
		font-size 11px

	&__code
		display flex
		white-space pre-wrap
		word-break break-all
		margin 0
		font-size 0.9rem
		color #1E293B

	.copy-btn
		align-self flex-end